<% @names.each do |name|%>

<p>NAME: <%= name %></p>

<% end %>

<h1>Search Results:</h1>
<p>Title: <%= @title %></p>
<!-- <img src="<%= @poster_url %>
" alt="poster"> -->
<div class = "poster"><a href="www.google.com"><img src="<%= @poster_url %>
" alt="poster"></a></div>
<div class = "synopsis"><%= @synopsis %></div>
<p>Other images from the film</p>
<img class = "alternate" src="<%= @alt_img_url %>
" alt="alt image">
