

<p>We searched and found a whopping <%=@totalfound%> possible matches</p>
<p> Here are the top 5</p>


<h2><%=@movietitle0%></h2>
<a href="<%=@id0%>"><img src="<%= @poster0 %>"></a>

<h2><%=@movietitle1%></h2>
<a href="<%=@id1%>"><img src="<%= @poster1 %>"></a>

<h2><%=@movietitle2%></h2>
<a href="<%=@id2%>"><img src="<%= @poster2 %>"></a>

<h2><%=@movietitle3%></h2>
<a href="<%=@id3%>"><img src="<%= @poster3 %>"></a>

<h2><%=@movietitle4%></h2>
<a href="<%=@id4%>"><img src="<%= @poster4 %>"></a>
