<h2>Mountain Details</h2>

<p><%= @mountain["name"] %></p>
<p><%= @mountain["description"] %></p>
<p><%= @mountain["country"] %></p>
<p><%= @mountain["elevation"] %></p>
<img src="<%= @mountain["image"] %>">
